In [1]:
import json
routes = json.loads(open('/home/student/dbanalysis/dbanalysis/resources/trimmed_routes.json').read())

In [2]:
from dbanalysis.classes import stop_refac

In [3]:
route15=routes['15'][3][1:]

In [4]:
import pandas as pd
from dbanalysis import headers as hds
arrives = pd.read_csv('/home/student/data/stops/'+str(route15[0])+'/'+str(route15[1])+'.csv',names=hds.get_stop_link_headers())

In [5]:
ends = pd.read_csv('/home/student/data/stops/'+str(route15[-2])+'/'+str(route15[-1])+'.csv',names=hds.get_stop_link_headers())

In [6]:
ends

,index,dayofservice,tripid,plannedtime_arr_from,plannedtime_dep_from,actualtime_arr_from,actualtime_dep_from,plannedtime_arr_to,actualtime_arr_to,routeid
0,34,03-JAN-17 00:00:00,4094145,75724,75724,74981,75086,76182,75263,15_17
1,100,04-JAN-17 00:00:00,4094145,75724,75724,75354,75382,76182,75633,15_17
2,166,05-JAN-17 00:00:00,4094145,75724,75724,75396,75465,76182,75678,15_17
3,232,06-JAN-17 00:00:00,4094145,75724,75724,75175,75214,76182,75343,15_17
4,298,09-JAN-17 00:00:00,4094145,75724,75724,74931,74998,76182,75190,15_17
5,364,10-JAN-17 00:00:00,4094145,75724,75724,75239,75312,76182,75521,15_17
6,430,13-JAN-17 00:00:00,4094145,75724,75724,75570,75611,76182,75972,15_17
7,496,16-JAN-17 00:00:00,4094145,75724,75724,74790,74813,76182,75021,15_17
8,562,17-JAN-17 00:00:00,4094145,75724,75724,75156,75179,76182,75403,15_17
9,628,18-JAN-17 00:00:00,4094145,75724,75724,75009,75023,76182,75224,15_17
10,727,03-JAN-17 00:00:00,4094146,62920,62920,62006,62084,63489,62336,15_17
11,793,04-JAN-17 00:00:00,4094146,62920,62920,62282,62322,63489,62965,15_17
12,859,05-JAN-17 00:00:00,4094146,62920,62920,62464,62510,63489,62883,15_17
13,921,06-JAN-17 00:00:00,4094146,62920,62920,62153,62200,63489,62619,15_17
14,985,09-JAN-17 00:00:00,4094146,62920,62920,62471,62548,63489,62780,15_17
15,1048,10-JAN-17 00:00:00,4094146,62920,62920,62815,62908,63489,63156,15_17
16,1096,13-JAN-17 00:00:00,4094146,62920,62920,61998,62085,63489,62292,15_17
17,1162,16-JAN-17 00:00:00,4094146,62920,62920,62930,62975,63489,63579,15_17
18,1228,17-JAN-17 00:00:00,4094146,62920,62920,62380,62477,63489,62662,15_17
19,1291,18-JAN-17 00:00:00,4094146,62920,62920,62812,62929,63489,63292,15_17
20,1355,19-JAN-17 00:00:00,4094146,62920,62920,62514,62604,63489,62968,15_17
21,1396,03-JAN-17 00:00:00,4094147,38135,38135,37587,37604,38609,37796,15_17
22,1454,04-JAN-17 00:00:00,4094147,38135,38135,37861,37905,38609,38128,15_17
23,1515,05-JAN-17 00:00:00,4094147,38135,38135,37948,38023,38609,38162,15_17
24,1575,06-JAN-17 00:00:00,4094147,38135,38135,37042,37070,38609,37218,15_17
25,1633,09-JAN-17 00:00:00,4094147,38135,38135,37920,37941,38609,38056,15_17
26,1699,10-JAN-17 00:00:00,4094147,38135,38135,37617,37639,38609,37777,15_17
27,1765,13-JAN-17 00:00:00,4094147,38135,38135,37691,37710,38609,38001,15_17
28,1829,16-JAN-17 00:00:00,4094147,38135,38135,37371,37389,38609,37519,15_17
29,1893,17-JAN-17 00:00:00,4094147,38135,38135,37876,37891,38609,38131,15_17
...,...,...,...,...,...,...,...,...,...,...
19178,728884,29-JUN-16 00:00:00,3289673,74259,74259,74323,74425,74724,74622,15_17
19179,728950,30-JUN-16 00:00:00,3289673,74259,74259,73907,73948,74724,74302,15_17
19180,729016,27-JUN-16 00:00:00,3289674,26188,26188,26528,26565,26418,26825,15_17
19181,729079,28-JUN-16 00:00:00,3289674,26188,26188,26216,26250,26418,26413,15_17
19182,729145,29-JUN-16 00:00:00,3289674,26188,26188,26249,26295,26418,26428,15_17
19183,729211,27-JUN-16 00:00:00,3289675,38767,38767,38821,38963,39227,39295,15_17
19184,729275,28-JUN-16 00:00:00,3289675,38767,38767,38773,38829,39227,39145,15_17
19185,729341,29-JUN-16 00:00:00,3289675,38767,38767,38902,38918,39227,39270,15_17
19186,729407,30-JUN-16 00:00:00,3289675,38767,38767,39312,39338,39227,39532,15_17
19187,729473,27-JUN-16 00:00:00,3289676,50949,50949,50740,50775,51428,50918,15_17
19188,729520,28-JUN-16 00:00:00,3289676,50949,50949,50942,50989,51428,51380,15_17
19189,729586,29-JUN-16 00:00:00,3289676,50949,50949,51002,51028,51428,51390,15_17
19190,729652,30-JUN-16 00:00:00,3289676,50949,50949,51006,51079,51428,51517,15_17
19191,729718,27-JUN-16 00:00:00,3289677,63355,63355,62913,63012,63919,63396,15_17
19192,729772,28-JUN-16 00:00:00,3289677,63355,63355,63235,63297,63919,63762,15_17
19193,729838,29-JUN-16 00:00:00,3289677,63355,63355,63991,64062,63919,64340,15_17
19194,729904,30-JUN-16 00:00:00,3289677,63355,63355,63319,63375,63919,63760,15_17
19195,729970,27-JUN-16 00:00:00,3289683,32954,32954,32748,32788,33409,33314,15_17
19196,730036,28-JUN-16 00:00:00,3289683,32954,32954,33426,33468,33409,33854,15_17
19197,730102,29-JUN-16 00:00:00,3289683,32954,32954,33490,33545,33409,33874,15_17
19198,730168,30-JUN-16 00:00:00,3289683,32954,32954,32935,32963,33409,33423,15_17
19199,730232,27-JUN-16 00:00:00,3289684,44469,44469,44211,44288,44948,44685,15_17
19200,730298,28-JUN-16 00:00:00,3289684,44469,44469,44572,44627,44948,45017,15_17
19201,730364,29-JUN-16 00:00:00,3289684,44469,44469,44581,44629,44948,45030,15_17
19202,730430,30-JUN-16 00:00:00,3289684,44469,44469,45068,45124,44948,45528,15_17
19203,730496,27-JUN-16 00:00:00,3289685,56751,56751,56689,56804,57274,57044,15_17
19204,730562,28-JUN-16 00:00:00,3289685,56751,56751,56835,56904,57274,57141,15_17
19205,730628,29-JUN-16 00:00:00,3289685,56751,56751,56885,56964,57274,57264,15_17
19206,730694,30-JUN-16 00:00:00,3289685,56751,56751,56786,56876,57274,57185,15_17
19207,730760,26-JUN-16 00:00:00,3289686,39142,39142,39583,39642,39401,39861,15_17

In [11]:
nodes = []
for stop_id in route15:
    nodes.append(stop_refac.stop(stop_id,from_pickle=False,train_test='year',validate=True,model_dwell_time=False,dimension=3,regressor_type='Neural'))

(9973, 19)

/home/student/dbanalysis/dbanalysis/classes/stop_link_model_refac.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.data['hour'] = self.data['actualtime_arr_from']//3600
/home/student/dbanalysis/dbanalysis/classes/stop_link_model_refac.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.data['hour2'] = self.data['hour']**2
/home/student/dbanalysis/dbanalysis/classes/stop_link_model_refac.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.data['hour3'] = self.data['hour']**3

(9986, 19)
(11229, 19)
(11344, 19)
(11375, 19)
(11400, 19)
(11408, 19)
(11411, 19)
(11418, 19)
(11415, 19)
(4757, 19)
(16038, 19)
(20605, 19)
(20641, 19)
(20640, 19)
(20648, 19)
(20652, 19)
(20655, 19)
(20655, 19)
(16046, 19)
(4604, 19)
(22569, 19)
(22566, 19)
(36978, 19)
(36982, 19)
(36980, 19)
(36980, 19)
(45251, 19)
(53078, 19)
(53089, 19)
(53107, 19)
(53111, 19)
(12756, 19)
(39679, 19)
(39599, 19)
(10270, 19)
(39620, 19)
(1, 19)
(39635, 19)
(6943, 19)
(401, 19)
(7277, 19)
(13303, 19)
(11429, 19)
(10899, 19)

In [8]:
nodes[0].linkmodels

{'6335': <dbanalysis.classes.stop_link_model_refac.stop_link_model at 0x7f731f7cee80>}

In [9]:
nodes[0]

In [10]:
nodes[0].lat

53.271636070453205

In [11]:
len(nodes)

37

In [12]:
df = arrives['actualtime_arr_from']

In [13]:
arrives['begin']=arrives['actualtime_arr_from']
ends['end']=ends['actualtime_arr_to']

In [14]:
df=pd.merge(arrives[['begin','tripid','dayofservice']],ends[['end','tripid','dayofservice']],on=['tripid','dayofservice'])

In [13]:
len(df)

16323

In [15]:
time_format = "%d-%b-%y %H:%M:%S"
df['dt']=pd.to_datetime(df['dayofservice'],format=time_format)
df['dayofweek']=df['dt'].dt.dayofweek
df['month']=df['dt'].dt.month
df['weekend']=df['dt'].dt.day > 4
df['year']=df['dt'].dt.year
test=df[df['year']==2017]

In [16]:
df['actualtime_arr_from']=df['begin']

In [18]:
df.head(1)

,begin,tripid,dayofservice,end,dt,dayofweek,month,weekend,year,actualtime_arr_from
0,73217,4094145,03-JAN-17 00:00:00,75263,2017-01-03,1,1,False,2017,73217

In [25]:
import copy
df['variation']=0
df['busIDs']=1
matrix = copy.deepcopy(df)

In [23]:
import pickle
with open('/data/route15SVMpickle.pickle','rb') as handle:
    nodes = pickle.load(handle)

In [19]:
dir(nodes[0].predict)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__func__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [26]:
for i in range(0,len(route15)-1):
    
    matrix = nodes[i].predict(4, str(route15[i+1]),'15',matrix)
    print('node',i,'predicted for')

AttributeError: 'stop_time_table' object has no attribute 'to_concat'

In [28]:
pred_ends = nodes[-2].stored_data['actualtime_arr_to']

In [29]:
real_travel_times = df['end']-df['begin']

In [30]:
pred_travel_times = pred_ends - df['begin']

In [31]:
from sklearn.metrics import mean_absolute_error

In [32]:
from sklearn.metrics import r2_score
r2_score(real_travel_times,pred_travel_times)

-872.2579297906585

In [33]:
mean_absolute_error(real_travel_times,pred_travel_times)

14271.328868570803

In [34]:
df['percentage_error']=(abs(pred_ends -df['end']) / real_travel_times) * (100)

In [49]:
len(df)

16323

In [24]:
df['pred']=pred_ends
df[['end','pred']]

         end          pred
0      75263  75646.226296
1      75633  75704.338772
2      75678  75388.636887
3      75343  75417.987429
4      75190  75101.235302
5      75521  75190.093294
6      75972  75285.087456
7      75021  73680.924815
8      75403  75189.101503
9      75224  75267.049797
10     62965  62805.166029
11     62883  62445.518447
12     63579  62523.652145
13     62662  62315.408423
14     62968  62462.378892
15     37796  38066.105457
16     38162  37939.799333
17     37218  37684.734994
18     37777  37818.615426
19     38001  38018.189408
20     37871  37880.695065
21     37816  37944.758287
22     23778  24959.980901
23     23856  25026.027704
24     23871  24674.621348
25     24144  24768.438295
26     24148  24507.226455
27     23978  24577.240422
28     24058  24736.700988
29     23813  24455.653331
...      ...           ...
16293  61821  61059.020966
16294  61845  61155.813285
16295  74229  73948.664405
16296  74121  73998.909011
16297  74622  74124.396808
16298  74302  74160.689886
16299  26825  26447.636909
16300  26428  26526.173810
16301  39295  38705.722391
16302  39270  38963.773435
16303  39532  39030.812029
16304  50918  50967.125997
16305  51380  50894.653208
16306  51390  51068.731464
16307  51517  51117.917822
16308  63396  63076.023910
16309  64340  63169.728190
16310  63760  63255.610810
16311  33314  32181.405618
16312  33854  32247.452421
16313  33874  32333.335041
16314  33423  32395.414681
16315  45017  44534.706244
16316  45030  44579.925439
16317  45528  44724.736527
16318  57044  56704.845903
16319  57141  56760.974798
16320  57264  56860.742490
16321  57185  56851.413189
16322  39861  39897.419469

[16323 rows x 2 columns]

In [25]:
nodes[-1].stored_data

AttributeError: 'stop' object has no attribute 'stored_data'

In [ ]:
nodes[0].stored_data

## What is this doing and why? Where does 25000 come from as the value for every single last arrival time?

In [ ]:
print('hello')

### So we found two problems

a) The data frames have to be explicitly copied every time we save them, and this is doubtless going to slow things down massively.

b) There is some kind of awful problem with the dwell time models. A model on the route has learned to return rubbish as its dwell time prediction, probably due to only having one or two lines of data.

In [ ]:
nodes[-4].stored_data

In [ ]:
route15[-5]

In [ ]:
import os
os.listdir('/data/stops/1354')

In [ ]:
stop1354 = pd.read_csv('/data/stops/1354/7578.csv',names=hds.get_stop_link_headers())

In [ ]:
stop1354['dwell']=stop1354['actualtime_dep_from']-stop1354['actualtime_arr_from']

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
rgr = LinearRegression(fit_intercept=True).fit(stop1354[['actualtime_arr_from']], stop1354['actualtime_dep_from'])

In [ ]:
stop1354.tail()

In [ ]:
len(stop1354[stop1354['dwell'] != 0])

In [ ]:
len(stop1354)

In [ ]:
nodes[-4].stored_data

In [ ]:
print('hello')

# Try this again with different regressors.

# SVM

# takes a seriously long time to train, but lets see what the results are like right?

In [6]:
nodes = []
for stop_id in route15:
    nodes.append(stop_refac.stop(stop_id,from_pickle=False,train_test='year',\
                                 validate=True,model_dwell_time=False,dimension=3,regressor_type='Svm'))

(9973, 19)

/home/student/dbanalysis/dbanalysis/classes/stop_link_model_refac.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.data['hour'] = self.data['actualtime_arr_from']//3600
/home/student/dbanalysis/dbanalysis/classes/stop_link_model_refac.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.data['hour2'] = self.data['hour']**2
/home/student/dbanalysis/dbanalysis/classes/stop_link_model_refac.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.data['hour3'] = self.data['hour']**3

(9986, 19)
(11229, 19)
(11344, 19)
(11375, 19)
(11400, 19)
(11408, 19)
(11411, 19)
(11418, 19)
(11415, 19)
(4757, 19)
(16038, 19)
(20605, 19)
(20641, 19)
(20640, 19)
(20648, 19)
(20652, 19)
(20655, 19)
(20655, 19)
(16046, 19)
(4604, 19)
(22569, 19)
(22566, 19)
(36978, 19)
(36982, 19)
(36980, 19)
(36980, 19)
(45251, 19)
(53078, 19)
(53089, 19)
(53107, 19)
(53111, 19)
(12756, 19)
(39679, 19)
(39599, 19)
(10270, 19)
(39620, 19)
(1, 19)
(39635, 19)
(6943, 19)
(401, 19)
(7277, 19)
(13303, 19)
(11429, 19)
(10899, 19)

In [7]:
import pickle
with open ('/data/route15SVMpickle.pickle','wb') as handle:
    pickle.dump(nodes,handle,protocol=pickle.HIGHEST_PROTOCOL)

## Tested above. The error is ridiculous. The linear models just simply work better