In [1]:
import json
routes = json.loads(open('/home/student/dbanalysis/dbanalysis/resources/trimmed_routes.json').read())

In [2]:
from dbanalysis.classes import stop

In [3]:
dir(stop)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'os',
 'pd',
 'st',
 'stop',
 'stop_time_table']

In [4]:
route15=routes['15'][3][1:]

In [5]:
import pandas as pd
from dbanalysis import headers as hds
arrives = pd.read_csv('/home/student/data/stops/'+str(route15[0])+'/'+str(route15[1])+'.csv',names=hds.get_stop_link_headers())

In [6]:
ends = pd.read_csv('/home/student/data/stops/'+str(route15[-2])+'/'+str(route15[-1])+'.csv',names=hds.get_stop_link_headers())

In [7]:
ends

,index,dayofservice,tripid,plannedtime_arr_from,plannedtime_dep_from,actualtime_arr_from,actualtime_dep_from,plannedtime_arr_to,actualtime_arr_to,routeid
0,34,03-JAN-17 00:00:00,4094145,75724,75724,74981,75086,76182,75263,15_17
1,100,04-JAN-17 00:00:00,4094145,75724,75724,75354,75382,76182,75633,15_17
2,166,05-JAN-17 00:00:00,4094145,75724,75724,75396,75465,76182,75678,15_17
3,232,06-JAN-17 00:00:00,4094145,75724,75724,75175,75214,76182,75343,15_17
4,298,09-JAN-17 00:00:00,4094145,75724,75724,74931,74998,76182,75190,15_17
5,364,10-JAN-17 00:00:00,4094145,75724,75724,75239,75312,76182,75521,15_17
6,430,13-JAN-17 00:00:00,4094145,75724,75724,75570,75611,76182,75972,15_17
7,496,16-JAN-17 00:00:00,4094145,75724,75724,74790,74813,76182,75021,15_17
8,562,17-JAN-17 00:00:00,4094145,75724,75724,75156,75179,76182,75403,15_17
9,628,18-JAN-17 00:00:00,4094145,75724,75724,75009,75023,76182,75224,15_17
10,727,03-JAN-17 00:00:00,4094146,62920,62920,62006,62084,63489,62336,15_17
11,793,04-JAN-17 00:00:00,4094146,62920,62920,62282,62322,63489,62965,15_17
12,859,05-JAN-17 00:00:00,4094146,62920,62920,62464,62510,63489,62883,15_17
13,921,06-JAN-17 00:00:00,4094146,62920,62920,62153,62200,63489,62619,15_17
14,985,09-JAN-17 00:00:00,4094146,62920,62920,62471,62548,63489,62780,15_17
15,1048,10-JAN-17 00:00:00,4094146,62920,62920,62815,62908,63489,63156,15_17
16,1096,13-JAN-17 00:00:00,4094146,62920,62920,61998,62085,63489,62292,15_17
17,1162,16-JAN-17 00:00:00,4094146,62920,62920,62930,62975,63489,63579,15_17
18,1228,17-JAN-17 00:00:00,4094146,62920,62920,62380,62477,63489,62662,15_17
19,1291,18-JAN-17 00:00:00,4094146,62920,62920,62812,62929,63489,63292,15_17
20,1355,19-JAN-17 00:00:00,4094146,62920,62920,62514,62604,63489,62968,15_17
21,1396,03-JAN-17 00:00:00,4094147,38135,38135,37587,37604,38609,37796,15_17
22,1454,04-JAN-17 00:00:00,4094147,38135,38135,37861,37905,38609,38128,15_17
23,1515,05-JAN-17 00:00:00,4094147,38135,38135,37948,38023,38609,38162,15_17
24,1575,06-JAN-17 00:00:00,4094147,38135,38135,37042,37070,38609,37218,15_17
25,1633,09-JAN-17 00:00:00,4094147,38135,38135,37920,37941,38609,38056,15_17
26,1699,10-JAN-17 00:00:00,4094147,38135,38135,37617,37639,38609,37777,15_17
27,1765,13-JAN-17 00:00:00,4094147,38135,38135,37691,37710,38609,38001,15_17
28,1829,16-JAN-17 00:00:00,4094147,38135,38135,37371,37389,38609,37519,15_17
29,1893,17-JAN-17 00:00:00,4094147,38135,38135,37876,37891,38609,38131,15_17
...,...,...,...,...,...,...,...,...,...,...
19178,728884,29-JUN-16 00:00:00,3289673,74259,74259,74323,74425,74724,74622,15_17
19179,728950,30-JUN-16 00:00:00,3289673,74259,74259,73907,73948,74724,74302,15_17
19180,729016,27-JUN-16 00:00:00,3289674,26188,26188,26528,26565,26418,26825,15_17
19181,729079,28-JUN-16 00:00:00,3289674,26188,26188,26216,26250,26418,26413,15_17
19182,729145,29-JUN-16 00:00:00,3289674,26188,26188,26249,26295,26418,26428,15_17
19183,729211,27-JUN-16 00:00:00,3289675,38767,38767,38821,38963,39227,39295,15_17
19184,729275,28-JUN-16 00:00:00,3289675,38767,38767,38773,38829,39227,39145,15_17
19185,729341,29-JUN-16 00:00:00,3289675,38767,38767,38902,38918,39227,39270,15_17
19186,729407,30-JUN-16 00:00:00,3289675,38767,38767,39312,39338,39227,39532,15_17
19187,729473,27-JUN-16 00:00:00,3289676,50949,50949,50740,50775,51428,50918,15_17
19188,729520,28-JUN-16 00:00:00,3289676,50949,50949,50942,50989,51428,51380,15_17
19189,729586,29-JUN-16 00:00:00,3289676,50949,50949,51002,51028,51428,51390,15_17
19190,729652,30-JUN-16 00:00:00,3289676,50949,50949,51006,51079,51428,51517,15_17
19191,729718,27-JUN-16 00:00:00,3289677,63355,63355,62913,63012,63919,63396,15_17
19192,729772,28-JUN-16 00:00:00,3289677,63355,63355,63235,63297,63919,63762,15_17
19193,729838,29-JUN-16 00:00:00,3289677,63355,63355,63991,64062,63919,64340,15_17
19194,729904,30-JUN-16 00:00:00,3289677,63355,63355,63319,63375,63919,63760,15_17
19195,729970,27-JUN-16 00:00:00,3289683,32954,32954,32748,32788,33409,33314,15_17
19196,730036,28-JUN-16 00:00:00,3289683,32954,32954,33426,33468,33409,33854,15_17
19197,730102,29-JUN-16 00:00:00,3289683,32954,32954,33490,33545,33409,33874,15_17
19198,730168,30-JUN-16 00:00:00,3289683,32954,32954,32935,32963,33409,33423,15_17
19199,730232,27-JUN-16 00:00:00,3289684,44469,44469,44211,44288,44948,44685,15_17
19200,730298,28-JUN-16 00:00:00,3289684,44469,44469,44572,44627,44948,45017,15_17
19201,730364,29-JUN-16 00:00:00,3289684,44469,44469,44581,44629,44948,45030,15_17
19202,730430,30-JUN-16 00:00:00,3289684,44469,44469,45068,45124,44948,45528,15_17
19203,730496,27-JUN-16 00:00:00,3289685,56751,56751,56689,56804,57274,57044,15_17
19204,730562,28-JUN-16 00:00:00,3289685,56751,56751,56835,56904,57274,57141,15_17
19205,730628,29-JUN-16 00:00:00,3289685,56751,56751,56885,56964,57274,57264,15_17
19206,730694,30-JUN-16 00:00:00,3289685,56751,56751,56786,56876,57274,57185,15_17
19207,730760,26-JUN-16 00:00:00,3289686,39142,39142,39583,39642,39401,39861,15_17

In [8]:
nodes = []
for stop_id in route15:
    nodes.append(stop.stop(stop_id,from_pickle=False,train_test='year',validate=True))

(9973, 19)
(9986, 19)
(11229, 19)
(11344, 19)
(11375, 19)
(11400, 19)
(11408, 19)
(11411, 19)
(11418, 19)
(11415, 19)
(4757, 19)
(16038, 19)
(20605, 19)
(20641, 19)
(20640, 19)
(20648, 19)
(20652, 19)
(20655, 19)
(20655, 19)
(16046, 19)
(4604, 19)
(22569, 19)
(22566, 19)
(36978, 19)
(36982, 19)
(36980, 19)
(36980, 19)
(45251, 19)
(53078, 19)
(53089, 19)
(53107, 19)
(53111, 19)
(12756, 19)
(39679, 19)
(39599, 19)
(10270, 19)
(39620, 19)
(1, 19)
(39635, 19)
(6943, 19)
(401, 19)
(7277, 19)
(13303, 19)
(11429, 19)
(10899, 19)

In [9]:
nodes[0].linkmodels

{'6335': <dbanalysis.classes.stop_link_model.stop_link_model at 0x7fa14757cf60>}

In [10]:
nodes[0]

In [11]:
nodes[0].lat

53.271636070453205

In [12]:
len(nodes)

37

In [13]:
df = arrives['actualtime_arr_from']

In [14]:
arrives['begin']=arrives['actualtime_arr_from']
ends['end']=ends['actualtime_arr_to']

In [15]:
df=pd.merge(arrives[['begin','tripid','dayofservice']],ends[['end','tripid','dayofservice']],on=['tripid','dayofservice'])

In [16]:
len(df)

16323

In [17]:
time_format = "%d-%b-%y %H:%M:%S"
df['dt']=pd.to_datetime(df['dayofservice'],format=time_format)
df['dayofweek']=df['dt'].dt.dayofweek
df['month']=df['dt'].dt.month
df['weekend']=df['dt'].dt.day > 4
df['year']=df['dt'].dt.year
test=df[df['year']==2017]

In [18]:
df['actualtime_arr_from']=df['begin']

In [39]:
df.head(1)

,begin,tripid,dayofservice,end,dt,dayofweek,month,weekend,year,actualtime_arr_from
0,73217,4094145,03-JAN-17 00:00:00,75263,2017-01-03,1,1,False,2017,73217

In [19]:
import copy
matrix = copy.deepcopy(df)

In [20]:
for i in range(0,len(route15)-1):
    matrix = nodes[i].predict(4, str(route15[i+1]),'15',matrix)

In [41]:
pred_ends = nodes[-2].stored_data['actualtime_arr_to']

In [42]:
from sklearn.metrics import mean_absolute_error

In [46]:
mean_absolute_error(df['end'],pred_ends)
#this is pretty bad to be honest. Pretty bad indeed! About twenty minuts off, in total. Fuck me.
#The errors actually seem to compound over the course of a route, rather than the other way around.

1202.9410886603957

In [45]:
df['pred']=pred_ends
df[['end','pred']]

         end          pred
0      75263  77372.800910
1      75633  77463.196559
2      75678  76874.548277
3      75343  76936.277237
4      75190  76490.671585
5      75521  76611.710937
6      75972  76803.817361
7      75021  75045.475032
8      75403  76610.722430
9      75224  76720.888210
10     62965  64416.887316
11     62883  63781.779227
12     63579  63766.615473
13     62662  63587.148838
14     62968  63798.583838
15     37796  39839.207793
16     38162  39470.449517
17     37218  39258.362166
18     37777  39284.715686
19     38001  39575.672764
20     37871  39379.065361
21     37816  39475.392050
22     23778  26933.266478
23     23856  27031.570180
24     23871  26407.335663
25     24144  26533.317547
26     24148  26143.068261
27     23978  26245.325989
28     24058  26501.685338
29     23813  26091.665922
...      ...           ...
16293  61821  62356.192929
16294  61845  62485.140333
16295  74229  75336.377632
16296  74121  75408.980163
16297  74622  75576.479322
16298  74302  75645.127827
16299  26825  28041.282487
16300  26428  28184.510537
16301  39295  40136.648443
16302  39270  40458.796176
16303  39532  40558.088384
16304  50918  52233.991413
16305  51380  52188.961667
16306  51390  52397.978100
16307  51517  52479.477190
16308  63396  64307.610226
16309  64340  64462.700354
16310  63760  64580.774186
16311  33314  33715.309995
16312  33854  33813.613696
16313  33874  33931.687528
16314  33423  34026.037204
16315  45017  45917.876212
16316  45030  45995.421276
16317  45528  46168.851474
16318  57044  57946.570676
16319  57141  58034.989312
16320  57264  58166.902236
16321  57185  58190.079440
16322  39861  41519.252892

[16323 rows x 2 columns]

In [38]:
nodes[-1].stored_data

AttributeError: 'stop' object has no attribute 'stored_data'

In [22]:
nodes[0].stored_data

,begin,tripid,dayofservice,end,dt,dayofweek,month,weekend,year,actualtime_arr_from,actualtime_dep_from,actualtime_arr_to
0,73217,4094145,03-JAN-17 00:00:00,75263,2017-01-03,1,1,False,2017,73217,73262.029098,73307.068804
1,73209,4094145,04-JAN-17 00:00:00,75633,2017-01-04,2,1,False,2017,73209,73253.592077,73298.194659
2,73240,4094145,05-JAN-17 00:00:00,75678,2017-01-05,3,1,True,2017,73240,73284.541615,73329.093724
3,73203,4094145,06-JAN-17 00:00:00,75343,2017-01-06,4,1,True,2017,73203,73247.097761,73291.205912
4,73150,4094145,09-JAN-17 00:00:00,75190,2017-01-09,0,1,True,2017,73150,73195.825818,73241.662434
5,73173,4094145,10-JAN-17 00:00:00,75521,2017-01-10,1,1,True,2017,73173,73218.396101,73263.802898
6,73069,4094145,13-JAN-17 00:00:00,75972,2017-01-13,4,1,True,2017,73069,73113.066189,73157.142761
7,71688,4094145,16-JAN-17 00:00:00,75021,2017-01-16,0,1,True,2017,71688,71733.481357,71778.973430
8,73172,4094145,17-JAN-17 00:00:00,75403,2017-01-17,1,1,True,2017,73172,73217.395866,73262.802427
9,73184,4094145,18-JAN-17 00:00:00,75224,2017-01-18,2,1,True,2017,73184,73228.963557,73273.937707
10,60011,4094146,04-JAN-17 00:00:00,62965,2017-01-04,2,1,False,2017,60011,60052.482502,60093.974778
11,59995,4094146,05-JAN-17 00:00:00,62883,2017-01-05,3,1,True,2017,59995,60036.420967,60077.851693
12,60278,4094146,16-JAN-17 00:00:00,63579,2017-01-16,0,1,True,2017,60278,60320.793053,60363.596188
13,59997,4094146,17-JAN-17 00:00:00,62662,2017-01-17,1,1,True,2017,59997,60039.291710,60081.593385
14,60012,4094146,19-JAN-17 00:00:00,62968,2017-01-19,3,1,True,2017,60012,60053.424972,60094.859705
15,35247,4094147,03-JAN-17 00:00:00,37796,2017-01-03,1,1,False,2017,35247,35283.083005,35319.174511
16,35401,4094147,05-JAN-17 00:00:00,38162,2017-01-05,3,1,True,2017,35401,35436.626387,35472.261168
17,35087,4094147,06-JAN-17 00:00:00,37218,2017-01-06,4,1,True,2017,35087,35122.117269,35157.242813
18,35412,4094147,10-JAN-17 00:00:00,37777,2017-01-10,1,1,True,2017,35412,35448.499251,35485.007101
19,35408,4094147,13-JAN-17 00:00:00,38001,2017-01-13,4,1,True,2017,35408,35443.192900,35478.394092
20,35408,4094147,18-JAN-17 00:00:00,37871,2017-01-18,2,1,True,2017,35408,35444.063172,35480.134841
21,35406,4094147,19-JAN-17 00:00:00,37816,2017-01-19,3,1,True,2017,35406,35441.627565,35477.263524
22,22191,4094148,03-JAN-17 00:00:00,23778,2017-01-03,1,1,False,2017,22191,22224.006887,22257.021551
23,22191,4094148,04-JAN-17 00:00:00,23856,2017-01-04,2,1,False,2017,22191,22223.571751,22256.151176
24,22186,4094148,05-JAN-17 00:00:00,23871,2017-01-05,3,1,True,2017,22186,22218.512807,22251.033275
25,22214,4094148,06-JAN-17 00:00:00,24144,2017-01-06,4,1,True,2017,22214,22246.084268,22278.176096
26,22217,4094148,09-JAN-17 00:00:00,24148,2017-01-09,0,1,True,2017,22217,22250.825520,22284.659009
27,22221,4094148,10-JAN-17 00:00:00,23978,2017-01-10,1,1,True,2017,22221,22254.391326,22287.790519
28,22182,4094148,13-JAN-17 00:00:00,24058,2017-01-13,4,1,True,2017,22182,22214.076729,22246.161015
29,22165,4094148,16-JAN-17 00:00:00,23813,2017-01-16,0,1,True,2017,22165,22198.813268,22232.634502
...,...,...,...,...,...,...,...,...,...,...,...,...
16293,58683,3289672,29-JUN-16 00:00:00,61821,2016-06-29,2,6,True,2016,58683,58724.404848,58765.819452
16294,58714,3289672,30-JUN-16 00:00:00,61845,2016-06-30,3,6,True,2016,58714,58754.977016,58795.963687
16295,72013,3289673,27-JUN-16 00:00:00,74229,2016-06-27,0,6,True,2016,72013,72058.415795,72103.842291
16296,71987,3289673,28-JUN-16 00:00:00,74121,2016-06-28,1,6,True,2016,71987,72031.974533,72076.959663
16297,72057,3289673,29-JUN-16 00:00:00,74622,2016-06-29,2,6,True,2016,72057,72101.555890,72146.122278
16298,72027,3289673,30-JUN-16 00:00:00,74302,2016-06-30,3,6,True,2016,72027,72071.113686,72115.237765
16299,24168,3289674,27-JUN-16 00:00:00,26825,2016-06-27,0,6,True,2016,24168,24202.143059,24236.294162
16300,24114,3289674,29-JUN-16 00:00:00,26428,2016-06-29,2,6,True,2016,24114,24147.260064,24180.527964
16301,36404,3289675,27-JUN-16 00:00:00,39295,2016-06-27,0,6,True,2016,36404,36441.025977,36478.060677
16302,36531,3289675,29-JUN-16 00:00:00,39270,2016-06-29,2,6,True,2016,36531,36567.185627,36603.379779
16303,36532,3289675,30-JUN-16 00:00:00,39532,2016-06-30,3,6,True,2016,36532,36567.750726,36603.509876
16304,48642,3289676,27-JUN-16 00:00:00,50918,2016-06-27,0,6,True,2016,48642,48681.909366,48721.828135
16305,48497,3289676,28-JUN-16 00:00:00,51380,2016-06-28,1,6,True,2016,48497,48536.440066,48575.889425
16306,48609,3289676,29-JUN-16 00:00:00,51390,2016-06-29,2,6,True,2016,48609,48648.031318,48687.071833
16307,48592,3289676,30-JUN-16 00:00:00,51517,2016-06-30,3,6,True,2016,48592,48630.592177,48669.193446
16308,60856,3289677,27-JUN-16 00:00:00,63396,2016-06-27,0,6,True,2016,60856,60898.787100,60941.584281
16309,60814,3289677,29-JUN-16 00:00:00,64340,2016-06-29,2,6,True,2016,60814,60855.906932,60897.823738
16310,60834,3289677,30-JUN-16 00:00:00,63760,2016-06-30,3,6,True,2016,60834,60875.476508,60916.962789
16311,29908,3289683,27-JUN-16 00:00:00,33314,2016-06-27,0,6,True,2016,29908,29943.495457,29978.999278
16312,29908,3289683,28-JUN-16 00:00:00,33854,2016-06-28,1,6,True,2016,29908,29943.060321,29978.128903
16313,29928,3289683,29-JUN-16 00:00:00,33874,2016-06-29,2,6,True,2016,29928,29962.629897,29997.267954
16314,29924,3289683,30-JUN-16 00:00:00,33423,2016-06-30,3,6,True,2016,29924,29958.193819,29992.395694
16315,42153,3289684,28-JUN-16 00:00:00,45017,2016-06-28,1,6,True,2016,42153,42190.945360,42228.899659
16316,42132,3289684,29-JUN-16 00:00:00,45030,2016-06-29,2,6,True,2016,42132,42169.505276,42207.019388
16317,42208,3289684,30-JUN-16 00:00:00,45528,2016-06-30,3,6,True,2016,42208,42245.088046,42282.184830
16318,54421,3289685,27-JUN-16 00:00:00,57044,2016-06-27,0,6,True,2016,54421,54462.270953,54503.551630
16319,54411,3289685,28-JUN-16 00:00:00,57141,2016-06-28,1,6,True,2016,54411,54451.833461,54492.676542
16320,54445,3289685,29-JUN-16 00:00:00,57264,2016-06-29,2,6,True,2016,54445,54485.406335,54525.822191
16321,54369,3289685,30-JUN-16 00:00:00,57185,2016-06-30,3,6,True,2016,54369,54408.953293,54448.915999
16322,37206,3289686,26-JUN-16 00:00:00,39861,2016-06-26,6,6,True,2016,37206,37240.604119,37275.216390

## What the fuck is this doing and why? Where the fuck does 25000 come from as the value for every single last arrival time?

In [23]:
print('hello')

hello

### So we found two problems

a) The data frames have to be explicitly copied every time we save them, and this is doubtless going to slow things down massively.

b) There is some kind of awful problem with the dwell time models. A model on the route has learned to return rubbish as its dwell time prediction, probably due to only having one or two lines of data.

In [24]:
nodes[-4].stored_data

,begin,tripid,dayofservice,end,dt,dayofweek,month,weekend,year,actualtime_arr_from,actualtime_dep_from,actualtime_arr_to,stop_id,link,route
0,73217,4094145,03-JAN-17 00:00:00,75263,2017-01-03,1,1,False,2017,76363.045205,76484.842998,76606.714234,1353,1354,15
1,73209,4094145,04-JAN-17 00:00:00,75633,2017-01-04,2,1,False,2017,76408.728011,76534.912425,76661.172928,1353,1354,15
2,73240,4094145,05-JAN-17 00:00:00,75678,2017-01-05,3,1,True,2017,75957.523550,76081.138630,76204.828249,1353,1354,15
3,73203,4094145,06-JAN-17 00:00:00,75343,2017-01-06,4,1,True,2017,75974.629155,76102.613624,76230.675268,1353,1354,15
4,73150,4094145,09-JAN-17 00:00:00,75190,2017-01-09,0,1,True,2017,75708.137170,75818.524646,75928.978685,1353,1354,15
5,73173,4094145,10-JAN-17 00:00:00,75521,2017-01-10,1,1,True,2017,75784.368019,75899.160536,76014.022273,1353,1354,15
6,73069,4094145,13-JAN-17 00:00:00,75972,2017-01-13,4,1,True,2017,75842.582779,75970.487624,76098.469596,1353,1354,15
7,71688,4094145,16-JAN-17 00:00:00,75021,2017-01-16,0,1,True,2017,74267.452079,74376.970822,74486.555604,1353,1354,15
8,73172,4094145,17-JAN-17 00:00:00,75403,2017-01-17,1,1,True,2017,75783.382598,75898.174521,76013.035664,1353,1354,15
9,73184,4094145,18-JAN-17 00:00:00,75224,2017-01-18,2,1,True,2017,75848.773818,75967.964247,76087.226548,1353,1354,15
10,60011,4094146,04-JAN-17 00:00:00,62965,2017-01-04,2,1,False,2017,63403.145364,63521.487413,63639.900823,1353,1354,15
11,59995,4094146,05-JAN-17 00:00:00,62883,2017-01-05,3,1,True,2017,62905.626129,63021.370916,63137.185498,1353,1354,15
12,60278,4094146,16-JAN-17 00:00:00,63579,2017-01-16,0,1,True,2017,63023.801677,63126.540500,63229.341275,1353,1354,15
13,59997,4094146,17-JAN-17 00:00:00,62662,2017-01-17,1,1,True,2017,62800.464627,62907.427853,63014.455577,1353,1354,15
14,60012,4094146,19-JAN-17 00:00:00,62968,2017-01-19,3,1,True,2017,62922.378281,63038.133170,63153.957860,1353,1354,15
15,35247,4094147,03-JAN-17 00:00:00,37796,2017-01-03,1,1,False,2017,38946.620510,39045.856205,39145.151738,1353,1354,15
16,35401,4094147,05-JAN-17 00:00:00,38162,2017-01-05,3,1,True,2017,38670.188970,38771.319792,38872.511597,1353,1354,15
17,35087,4094147,06-JAN-17 00:00:00,37218,2017-01-06,4,1,True,2017,38414.333036,38519.668652,38625.067786,1353,1354,15
18,35412,4094147,10-JAN-17 00:00:00,37777,2017-01-10,1,1,True,2017,38573.896254,38666.250863,38758.661161,1353,1354,15
19,35408,4094147,13-JAN-17 00:00:00,38001,2017-01-13,4,1,True,2017,38730.653086,38836.179444,38941.769433,1353,1354,15
20,35408,4094147,18-JAN-17 00:00:00,37871,2017-01-18,2,1,True,2017,38623.520743,38720.264350,38817.066293,1353,1354,15
21,35406,4094147,19-JAN-17 00:00:00,37816,2017-01-19,3,1,True,2017,38675.116073,38776.249867,38877.444644,1353,1354,15
22,22191,4094148,03-JAN-17 00:00:00,23778,2017-01-03,1,1,False,2017,26080.967605,26172.445313,26263.978181,1353,1354,15
23,22191,4094148,04-JAN-17 00:00:00,23856,2017-01-04,2,1,False,2017,26134.533777,26230.402860,26326.329751,1353,1354,15
24,22186,4094148,05-JAN-17 00:00:00,23871,2017-01-05,3,1,True,2017,25647.854170,25741.132527,25834.467130,1353,1354,15
25,22214,4094148,06-JAN-17 00:00:00,24144,2017-01-06,4,1,True,2017,25729.012122,25826.698492,25924.443766,1353,1354,15
26,22217,4094148,09-JAN-17 00:00:00,24148,2017-01-09,0,1,True,2017,25517.703697,25597.826349,25677.997315,1353,1354,15
27,22221,4094148,10-JAN-17 00:00:00,23978,2017-01-10,1,1,True,2017,25575.211552,25659.727955,25744.295323,1353,1354,15
28,22182,4094148,13-JAN-17 00:00:00,24058,2017-01-13,4,1,True,2017,25697.478659,25795.146014,25892.872262,1353,1354,15
29,22165,4094148,16-JAN-17 00:00:00,23813,2017-01-16,0,1,True,2017,25466.461820,25546.553573,25626.693621,1353,1354,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16293,58683,3289672,29-JUN-16 00:00:00,61821,2016-06-29,2,6,True,2016,61417.588647,61522.381476,61627.237496,1353,1354,15
16294,58714,3289672,30-JUN-16 00:00:00,61845,2016-06-30,3,6,True,2016,61501.702861,61610.905486,61720.173960,1353,1354,15
16295,72013,3289673,27-JUN-16 00:00:00,74229,2016-06-27,0,6,True,2016,74446.114485,74550.045364,74654.038914,1353,1354,15
16296,71987,3289673,28-JUN-16 00:00:00,74121,2016-06-28,1,6,True,2016,74474.059718,74582.366523,74690.738637,1353,1354,15
16297,72057,3289673,29-JUN-16 00:00:00,74622,2016-06-29,2,6,True,2016,74596.605340,74709.345115,74822.152872,1353,1354,15
16298,72027,3289673,30-JUN-16 00:00:00,74302,2016-06-30,3,6,True,2016,74620.608891,74737.722214,74854.906157,1353,1354,15
16299,24168,3289674,27-JUN-16 00:00:00,26825,2016-06-27,0,6,True,2016,27298.660192,27374.161163,27449.707662,1353,1354,15
16300,24114,3289674,29-JUN-16 00:00:00,26428,2016-06-29,2,6,True,2016,27352.579817,27436.831451,27521.133889,1353,1354,15
16301,36404,3289675,27-JUN-16 00:00:00,39295,2016-06-27,0,6,True,2016,39356.268108,39439.039815,39521.861433,1353,1354,15
16302,36531,3289675,29-JUN-16 00:00:00,39270,2016-06-29,2,6,True,2016,39588.548883,39680.178805,39771.863979,1353,1354,15
16303,36532,3289675,30-JUN-16 00:00:00,39532,2016-06-30,3,6,True,2016,39643.100475,39739.122366,39835.202159,1353,1354,15
16304,48642,3289676,27-JUN-16 00:00:00,50918,2016-06-27,0,6,True,2016,51415.846865,51505.890496,51595.988424,1353,1354,15
16305,48497,3289676,28-JUN-16 00:00:00,51380,2016-06-28,1,6,True,2016,51326.527033,51420.875879,51515.281617,1353,1354,15
16306,48609,3289676,29-JUN-16 00:00:00,51390,2016-06-29,2,6,True,2016,51490.460325,51589.267098,51688.133451,1353,1354,15
16307,48592,3289676,30-JUN-16 00:00:00,51517,2016-06-30,3,6,True,2016,51527.274344,51630.462391,51733.712659,1353,1354,15
16308,60856,3289677,27-JUN-16 00:00:00,63396,2016-06-27,0,6,True,2016,63451.775525,63549.076820,63646.436787,1353,1354,15
16309,60814,3289677,29-JUN-16 00:00:00,64340,2016-06-29,2,6,True,2016,63517.520198,63623.579286,63729.702328,1353,1354,15
16310,60834,3289677,30-JUN-16 00:00:00,63760,2016-06-30,3,6,True,2016,63590.794784,63701.257132,63811.786088,1353,1354,15
16311,29908,3289683,27-JUN-16 00:00:00,33314,2016-06-27,0,6,True,2016,32954.975118,33033.886847,33112.846159,1353,1354,15
16312,29908,3289683,28-JUN-16 00:00:00,33854,2016-06-28,1,6,True,2016,33008.541290,33091.844394,33175.197729,1353,1354,15
16313,29928,3289683,29-JUN-16 00:00:00,33874,2016-06-29,2,6,True,2016,33081.815876,33169.522239,33257.281489,1353,1354,15
16314,29924,3289683,30-JUN-16 00:00:00,33423,2016-06-30,3,6,True,2016,33131.440365,33223.535726,33315.686621,1353,1354,15
16315,42153,3289684,28-JUN-16 00:00:00,45017,2016-06-28,1,6,True,2016,45075.017992,45165.597179,45256.230986,1353,1354,15
16316,42132,3289684,29-JUN-16 00:00:00,45030,2016-06-29,2,6,True,2016,45107.890329,45202.848413,45297.863756,1353,1354,15
16317,42208,3289684,30-JUN-16 00:00:00,45528,2016-06-30,3,6,True,2016,45236.348475,45335.743094,45435.197648,1353,1354,15
16318,54421,3289685,27-JUN-16 00:00:00,57044,2016-06-27,0,6,True,2016,57110.593199,57204.070762,57297.604691,1353,1354,15
16319,54411,3289685,28-JUN-16 00:00:00,57141,2016-06-28,1,6,True,2016,57154.305164,57252.168159,57350.090166,1353,1354,15
16320,54445,3289685,29-JUN-16 00:00:00,57264,2016-06-29,2,6,True,2016,57241.375640,57343.650214,57445.986459,1353,1354,15
16321,54369,3289685,30-JUN-16 00:00:00,57185,2016-06-30,3,6,True,2016,57220.049837,57326.670626,57433.355708,1353,1354,15
16322,37206,3289686,26-JUN-16 00:00:00,39861,2016-06-26,6,6,True,2016,40467.972555,40577.569068,40687.231668,1353,1354,15

In [25]:
route15[-5]

1353

In [26]:
import os
os.listdir('/data/stops/1354')

['orphans.csv', '7578.csv']

In [27]:
stop1354 = pd.read_csv('/data/stops/1354/7578.csv',names=hds.get_stop_link_headers())

In [28]:
stop1354['dwell']=stop1354['actualtime_dep_from']-stop1354['actualtime_arr_from']

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
rgr = LinearRegression(fit_intercept=True).fit(stop1354[['actualtime_arr_from']], stop1354['actualtime_dep_from'])

In [31]:
stop1354.tail()

,index,dayofservice,tripid,plannedtime_arr_from,plannedtime_dep_from,actualtime_arr_from,actualtime_dep_from,plannedtime_arr_to,actualtime_arr_to,routeid,dwell
438,192931,22-JUN-17 00:00:00,5088932,65801,65801,65861,65861,65914,65987,15B_58,0
439,197811,22-JUN-17 00:00:00,5095708,85107,85107,85421,85421,85208,85529,15B_58,0
440,197987,22-JUN-17 00:00:00,5096821,25301,25301,25389,25402,25399,25483,15B_58,13
441,202403,29-JUN-17 00:00:00,5113839,42713,42713,43257,43270,42833,43422,15B_58,13
442,154354,25-MAR-16 00:00:00,2898769,25443,25443,25149,25149,25538,25185,14_16,0

In [32]:
len(stop1354[stop1354['dwell'] != 0])

369

In [33]:
len(stop1354)

443

In [34]:
nodes[-4].stored_data

,begin,tripid,dayofservice,end,dt,dayofweek,month,weekend,year,actualtime_arr_from,actualtime_dep_from,actualtime_arr_to,stop_id,link,route
0,73217,4094145,03-JAN-17 00:00:00,75263,2017-01-03,1,1,False,2017,76363.045205,76484.842998,76606.714234,1353,1354,15
1,73209,4094145,04-JAN-17 00:00:00,75633,2017-01-04,2,1,False,2017,76408.728011,76534.912425,76661.172928,1353,1354,15
2,73240,4094145,05-JAN-17 00:00:00,75678,2017-01-05,3,1,True,2017,75957.523550,76081.138630,76204.828249,1353,1354,15
3,73203,4094145,06-JAN-17 00:00:00,75343,2017-01-06,4,1,True,2017,75974.629155,76102.613624,76230.675268,1353,1354,15
4,73150,4094145,09-JAN-17 00:00:00,75190,2017-01-09,0,1,True,2017,75708.137170,75818.524646,75928.978685,1353,1354,15
5,73173,4094145,10-JAN-17 00:00:00,75521,2017-01-10,1,1,True,2017,75784.368019,75899.160536,76014.022273,1353,1354,15
6,73069,4094145,13-JAN-17 00:00:00,75972,2017-01-13,4,1,True,2017,75842.582779,75970.487624,76098.469596,1353,1354,15
7,71688,4094145,16-JAN-17 00:00:00,75021,2017-01-16,0,1,True,2017,74267.452079,74376.970822,74486.555604,1353,1354,15
8,73172,4094145,17-JAN-17 00:00:00,75403,2017-01-17,1,1,True,2017,75783.382598,75898.174521,76013.035664,1353,1354,15
9,73184,4094145,18-JAN-17 00:00:00,75224,2017-01-18,2,1,True,2017,75848.773818,75967.964247,76087.226548,1353,1354,15
10,60011,4094146,04-JAN-17 00:00:00,62965,2017-01-04,2,1,False,2017,63403.145364,63521.487413,63639.900823,1353,1354,15
11,59995,4094146,05-JAN-17 00:00:00,62883,2017-01-05,3,1,True,2017,62905.626129,63021.370916,63137.185498,1353,1354,15
12,60278,4094146,16-JAN-17 00:00:00,63579,2017-01-16,0,1,True,2017,63023.801677,63126.540500,63229.341275,1353,1354,15
13,59997,4094146,17-JAN-17 00:00:00,62662,2017-01-17,1,1,True,2017,62800.464627,62907.427853,63014.455577,1353,1354,15
14,60012,4094146,19-JAN-17 00:00:00,62968,2017-01-19,3,1,True,2017,62922.378281,63038.133170,63153.957860,1353,1354,15
15,35247,4094147,03-JAN-17 00:00:00,37796,2017-01-03,1,1,False,2017,38946.620510,39045.856205,39145.151738,1353,1354,15
16,35401,4094147,05-JAN-17 00:00:00,38162,2017-01-05,3,1,True,2017,38670.188970,38771.319792,38872.511597,1353,1354,15
17,35087,4094147,06-JAN-17 00:00:00,37218,2017-01-06,4,1,True,2017,38414.333036,38519.668652,38625.067786,1353,1354,15
18,35412,4094147,10-JAN-17 00:00:00,37777,2017-01-10,1,1,True,2017,38573.896254,38666.250863,38758.661161,1353,1354,15
19,35408,4094147,13-JAN-17 00:00:00,38001,2017-01-13,4,1,True,2017,38730.653086,38836.179444,38941.769433,1353,1354,15
20,35408,4094147,18-JAN-17 00:00:00,37871,2017-01-18,2,1,True,2017,38623.520743,38720.264350,38817.066293,1353,1354,15
21,35406,4094147,19-JAN-17 00:00:00,37816,2017-01-19,3,1,True,2017,38675.116073,38776.249867,38877.444644,1353,1354,15
22,22191,4094148,03-JAN-17 00:00:00,23778,2017-01-03,1,1,False,2017,26080.967605,26172.445313,26263.978181,1353,1354,15
23,22191,4094148,04-JAN-17 00:00:00,23856,2017-01-04,2,1,False,2017,26134.533777,26230.402860,26326.329751,1353,1354,15
24,22186,4094148,05-JAN-17 00:00:00,23871,2017-01-05,3,1,True,2017,25647.854170,25741.132527,25834.467130,1353,1354,15
25,22214,4094148,06-JAN-17 00:00:00,24144,2017-01-06,4,1,True,2017,25729.012122,25826.698492,25924.443766,1353,1354,15
26,22217,4094148,09-JAN-17 00:00:00,24148,2017-01-09,0,1,True,2017,25517.703697,25597.826349,25677.997315,1353,1354,15
27,22221,4094148,10-JAN-17 00:00:00,23978,2017-01-10,1,1,True,2017,25575.211552,25659.727955,25744.295323,1353,1354,15
28,22182,4094148,13-JAN-17 00:00:00,24058,2017-01-13,4,1,True,2017,25697.478659,25795.146014,25892.872262,1353,1354,15
29,22165,4094148,16-JAN-17 00:00:00,23813,2017-01-16,0,1,True,2017,25466.461820,25546.553573,25626.693621,1353,1354,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16293,58683,3289672,29-JUN-16 00:00:00,61821,2016-06-29,2,6,True,2016,61417.588647,61522.381476,61627.237496,1353,1354,15
16294,58714,3289672,30-JUN-16 00:00:00,61845,2016-06-30,3,6,True,2016,61501.702861,61610.905486,61720.173960,1353,1354,15
16295,72013,3289673,27-JUN-16 00:00:00,74229,2016-06-27,0,6,True,2016,74446.114485,74550.045364,74654.038914,1353,1354,15
16296,71987,3289673,28-JUN-16 00:00:00,74121,2016-06-28,1,6,True,2016,74474.059718,74582.366523,74690.738637,1353,1354,15
16297,72057,3289673,29-JUN-16 00:00:00,74622,2016-06-29,2,6,True,2016,74596.605340,74709.345115,74822.152872,1353,1354,15
16298,72027,3289673,30-JUN-16 00:00:00,74302,2016-06-30,3,6,True,2016,74620.608891,74737.722214,74854.906157,1353,1354,15
16299,24168,3289674,27-JUN-16 00:00:00,26825,2016-06-27,0,6,True,2016,27298.660192,27374.161163,27449.707662,1353,1354,15
16300,24114,3289674,29-JUN-16 00:00:00,26428,2016-06-29,2,6,True,2016,27352.579817,27436.831451,27521.133889,1353,1354,15
16301,36404,3289675,27-JUN-16 00:00:00,39295,2016-06-27,0,6,True,2016,39356.268108,39439.039815,39521.861433,1353,1354,15
16302,36531,3289675,29-JUN-16 00:00:00,39270,2016-06-29,2,6,True,2016,39588.548883,39680.178805,39771.863979,1353,1354,15
16303,36532,3289675,30-JUN-16 00:00:00,39532,2016-06-30,3,6,True,2016,39643.100475,39739.122366,39835.202159,1353,1354,15
16304,48642,3289676,27-JUN-16 00:00:00,50918,2016-06-27,0,6,True,2016,51415.846865,51505.890496,51595.988424,1353,1354,15
16305,48497,3289676,28-JUN-16 00:00:00,51380,2016-06-28,1,6,True,2016,51326.527033,51420.875879,51515.281617,1353,1354,15
16306,48609,3289676,29-JUN-16 00:00:00,51390,2016-06-29,2,6,True,2016,51490.460325,51589.267098,51688.133451,1353,1354,15
16307,48592,3289676,30-JUN-16 00:00:00,51517,2016-06-30,3,6,True,2016,51527.274344,51630.462391,51733.712659,1353,1354,15
16308,60856,3289677,27-JUN-16 00:00:00,63396,2016-06-27,0,6,True,2016,63451.775525,63549.076820,63646.436787,1353,1354,15
16309,60814,3289677,29-JUN-16 00:00:00,64340,2016-06-29,2,6,True,2016,63517.520198,63623.579286,63729.702328,1353,1354,15
16310,60834,3289677,30-JUN-16 00:00:00,63760,2016-06-30,3,6,True,2016,63590.794784,63701.257132,63811.786088,1353,1354,15
16311,29908,3289683,27-JUN-16 00:00:00,33314,2016-06-27,0,6,True,2016,32954.975118,33033.886847,33112.846159,1353,1354,15
16312,29908,3289683,28-JUN-16 00:00:00,33854,2016-06-28,1,6,True,2016,33008.541290,33091.844394,33175.197729,1353,1354,15
16313,29928,3289683,29-JUN-16 00:00:00,33874,2016-06-29,2,6,True,2016,33081.815876,33169.522239,33257.281489,1353,1354,15
16314,29924,3289683,30-JUN-16 00:00:00,33423,2016-06-30,3,6,True,2016,33131.440365,33223.535726,33315.686621,1353,1354,15
16315,42153,3289684,28-JUN-16 00:00:00,45017,2016-06-28,1,6,True,2016,45075.017992,45165.597179,45256.230986,1353,1354,15
16316,42132,3289684,29-JUN-16 00:00:00,45030,2016-06-29,2,6,True,2016,45107.890329,45202.848413,45297.863756,1353,1354,15
16317,42208,3289684,30-JUN-16 00:00:00,45528,2016-06-30,3,6,True,2016,45236.348475,45335.743094,45435.197648,1353,1354,15
16318,54421,3289685,27-JUN-16 00:00:00,57044,2016-06-27,0,6,True,2016,57110.593199,57204.070762,57297.604691,1353,1354,15
16319,54411,3289685,28-JUN-16 00:00:00,57141,2016-06-28,1,6,True,2016,57154.305164,57252.168159,57350.090166,1353,1354,15
16320,54445,3289685,29-JUN-16 00:00:00,57264,2016-06-29,2,6,True,2016,57241.375640,57343.650214,57445.986459,1353,1354,15
16321,54369,3289685,30-JUN-16 00:00:00,57185,2016-06-30,3,6,True,2016,57220.049837,57326.670626,57433.355708,1353,1354,15
16322,37206,3289686,26-JUN-16 00:00:00,39861,2016-06-26,6,6,True,2016,40467.972555,40577.569068,40687.231668,1353,1354,15

In [2]:
print('hello')

hello